.gpt3_blog_container_article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-footer);
}
.gpt3_blog_container_article_img {
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}
.gpt3_blog_container_article_img img {
  width: 100%;
  height: 100%;
}

.gpt3_blog_container_article_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 100%;
}
.gpt3_blog_container_article_content p {
  font-family: var(--font-family);
  font-size: 11.65px;
  font-weight: 700;
  line-height: 35px;
  color: #fff;
}
.gpt3_blog_container_article_content h3 {
  font-family: var(--font-family);
  font-size: 25.11px;
  font-weight: 800;
  line-height: 30.3px;
  color: #fff;
  margin-bottom: 5rem;
  cursor: pointer;
}
.gpt3_blog_container_article_content p:last-child {
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  .gpt3_blog_container_article_content h3 {
    font-size: 18px;
    line-height: 25p;
  }
}
