.gpt3_blog {
  display: flex;
  flex-direction: column;
}

.gpt3_blog_heading {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}
.gpt3_blog_heading h1 {
  font-size: 62px;
  line-height: 75px;
  font-family: var(--font-family);
  font-weight: 800;
}
.gpt3_blog_container {
  display: flex;
  flex-direction: row;
}

.gpt3_blog_container_groupA {
  flex: 0.75;
  margin-right: 2rem;
}
.gpt3_blog_container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media screen and (max-width: 990px) {
  .gpt3_blog_container {
    flex-direction: column-reverse;
  }

  .gpt3_blog_container_groupA {
    margin: 2rem 0;
  }

  .gpt3_blog_container_groupA .gpt3_blog_container_article {
    width: 48%;
  }

  .gpt3_blog_container_groupA .gpt3_blog_container_article-img {
    height: 250px;
  }
}
@media screen and (max-width: 700px) {
  .gpt3_blog_container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }

  .gpt3_blog_container_groupA .gpt3_blog_container_article {
    width: 100%;
  }

  .gpt3_blog_heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}
@media screen and (max-width: 550px) {
  .gpt3_blog_heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
